@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
}
.goog-logo-link {
    display:none !important;
} 
    
.goog-te-gadget{
    color: transparent !important;
}